@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: black;
    --secondary-color: white;
    --header-height: 3.5rem;

    /***************** z-index ****************/
    --z-fixed: 100;
}

body{
    background-color: var(--secondary-color);
}

/********************* Global Styles *************************/

html{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
    scroll-snap-type: y mandatory;
    
}

footer{
    display: flex;
    justify-content: center;
}

/************************* Navbar *****************************/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: 1px solid red;
    margin: 0 auto; 
}
#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto; 
    padding: 10px 0 ;
    border: 1px solid blue;
    width: 80%;
}

.nav__data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.logo{
    width: 2.6556rem;
    height: 16.581px;
}

.btn__toggle{
    display: none;
    position: relative;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-burger,
.btn-close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.btn-close{
    opacity: 0;
}

/************************* Home *****************************/

#home {
    display: flex;
    height: 100dvh;
    padding: 10rem;
    background-image: url(assets/img/stripes-backgroundsvg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;
}

#home .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    /* border: 1px solid red; */
}

#home .intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 52.875rem;
    border-radius: 7px;
    border: 1px solid #000;
    background: #FFF;
    padding-top: 48px;
    text-align: center;
    position: relative;
}

.texto-intro p{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.texto-intro h1{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.48px;
}

.texto-intro b{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.btn{
    padding: 14px 41px;
    border: none;
    border-radius: 3px;
    background: #000;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn{
    color:  #F4F1E7;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}

.button-talk{
    display: flex;
    margin: 32px 28px;
}

.intro img{
    border-radius: 100%;
    width: 10.375rem;
    margin: 32px auto;
}

.layout-union{
    margin: -50px;
}

.layout-union2{
    display: flex;
    justify-content: end;
    margin: -50px;
}


/************************* About *****************************/


#about{
    display: flex;
    height: 100dvh;
    margin: 0 auto;
    max-width: 1400px;
    scroll-snap-align: start;
}

#about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
}

#about .about-me{
    border-radius: 7px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    width: 60%;
    padding: 73px 123px 72px 123px;
    justify-content: center;
    margin: 0 auto;
}

#about h2{
    margin: 130px 0 30px 0;
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

#about-carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 20px;
    overflow: hidden;
    scroll-padding: 1rem;
}

#about-carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.content-about{
    display: flex;
    /* border: 1px solid red; */
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.33);
    justify-content: center;
    padding: 36px;
    text-align: start;
    scroll-snap-align: start;
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 26px;
}
.card .img-scale{
    width: 3.75rem; 
    height: 3.75rem; 
}

.card p{
    margin-top: 26px;
}

.card h3{
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.card ol{
    margin: 10px 0 0 20px;
}


/************************* Skills *****************************/
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    scroll-snap-align: start;
}
#skills .container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.skills h2{
    margin-bottom: 70px;
    color: #000;
    font-size: 32px;
    font-weight: 700; 
}

.skill-details{
    display: flex;
    gap: 52px;
    margin-bottom: 114px;
    text-align: left;
}

.skill-card h3{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 600;
}
.skill-card .skill-scale{
    width: 6.25rem;
}
#tech-carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 12px);
    gap: 20px;
    overflow: hidden;
}

#tech-carousel.dragging .tech-card{
    cursor: grab;
    user-select: none;
}

.tech-card{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.tech-card p{
    font-size: 22px;
    font-weight: 500;
    margin-left: 28px;
}

.tech-card .tech-scale{
    width: 6.25rem;
}
/************************* Projects *****************************/
#projects{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
    scroll-snap-align: start;
}

#projects .all-items{
    scroll-snap-align: start;
}

#projects .section-heading{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 70px;
}

#projects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

#projects .item:nth-child(even){
    flex-direction: row-reverse;
}

#projects .item .left{
    flex: 1;
}
#projects .item .right{
    flex: 1;
    margin-left: -150px;
    background-color:white;
    padding: 2.8rem 2rem; 
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}

#projects .item:nth-child(even) .right{
    margin-left: 0;
}

#projects .item:nth-child(even) .left{
    margin-left: -150px;
}

#projects .item .left .imagem{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(43, 39, 39, 0.2);
}

#projects .item .left .imagem img {
    object-fit: cover;
    transition: 0.3s ease transform;
    height: 100%;
}
#projects .item:hover .left .imagem img {
    transform: scale(1.1);
    z-index: 1;
}

#projects .item .right .project-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#projects .item .right .project-sub-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#projects .item .right .project-desc{
    margin-bottom: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#projects .item .right .buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-starts;
    gap: 2rem;
}

#projects .item .right .buttons .primary-btn{
    display: inline-block;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    box-shadow: 0px 5px 0px  rgba(0, 0, 0, 0.719);
    cursor: pointer;
    color: white;
}


#projects .item .right .buttons .secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: black;
    gap:1rem;
    position: relative;
    z-index: 1;
}

#projects .item .right .buttons a{
    text-decoration: none;
}


#projects .item .right .buttons .primary-btn:hover{
    transition: 0.2s;
    background-color: #000000e3;
}
#projects .item .right .buttons .primary-btn:active, 
#projects .item .right .buttons .secondary-btn:active {
    box-shadow: none;
    transform: translateY(5px);     
}

#projects .item .right .buttons .secondary-btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

#projects .item .right .buttons .secondary-btn:hover::before, 
#projects .item .right .buttons .secondary-btn:focus::before{
    transform: scaleX(1);
}

#projects .item .right .buttons .secondary-btn:hover,
#projects .item .right .buttons .secondary-btn:focus{
    color: white;
    box-shadow: 0px 5px 0px  rgba(0, 0, 0, 0.719);
    transition: 300ms ease-in-out;
}

#projects .item .right .buttons .secondary-btn svg{
    width: 16px;
}

/************************* Contact *****************************/

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    scroll-snap-align: start;
}

#contact .container{
    display: flex;
    flex-direction: row;
    /* width: max-content; */
    max-width: 1400px;
    margin: 0 auto;
}

#contact .details{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
}

.social-media{
    margin-top: auto;
}

.social-media figure{
    display: flex;
    gap: 20px;
}

#contact .details .social-media p{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-media picture{
    display: flex;
    gap: 20px;
}

#contact .details h2{
    font-size: 4rem;
    font-weight: 700;
    display: inline;
}

#contact .details p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.social-media p{
    font-size: 28px;
    font-weight: 700;
}

#contact .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#contact .form label {
    margin: 26px 0;
}
#contact .form input{
    border: #f7f7f7;
    background-color: #F7F7F7;
    padding: 12px 16px;
    border-radius: 0%;
}

.btn-massage{
    padding: 14px 41px;
    margin-top: 26px;
    border: none;
    border-radius: 3px;
    background: #000;
    box-shadow: 0px 5px 0px  rgba(0, 0, 0, 0.719);
    cursor: pointer;
}

.btn-massage p{
    color:  #F4F1E7;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}
.btn-massage:hover{
    transition: 0.2s;
    background-color: #000000e3;
}

.btn-massage:active{
    box-shadow: none;
    transform: translateY(5px);     
}

#contact .form select{
    color:  #B2B2B2;
    padding: 12px 16px;
    border-radius: 0%;
    background-color: #F7F7F7;
    border: #f7f7f7;
}

/* Tablet and Desktop */

@media screen and (min-width: 768px) {

    #navbar ul{
        display: flex;
        gap: 42px;
    }

    #navbar ul li a{
        text-decoration: none; 
    }

    #navbar ul li a:link{
        color: black;
    }

    #navbar ul li a:visited{
        color: rgb(97, 97, 97);
    }

    #navbar ul li a:hover{
        color: rgba(163, 163, 163, 0.486);
        transition: 0.4s;
    }
}


/************ Mobile ******************/

@media screen and (max-width: 767px) {
        .nav__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
        border: 1px solid black;
        border-radius: 20px 20px 0 0;
        background-color: white;
    }

    .nav__menu:active{
        opacity: 1;
        pointer-events: auto;
    }

    .nav__menu::-webkit-scrollbar{
        width: 0;
    }

    .nav__link{
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.8rem 1.5rem;
        display: flex;
        padding: 1rem 1rem;
        gap: 0.5rem;
        align-items: center;
        transition: background-color .3s;
    }

    .nav__link:visited{
        color: rgb(97, 97, 97);
    }

    .nav__link:hover{
        background-color:rgba(163, 163, 163, 0.103);
        color: rgba(163, 163, 163, 0.678);
        transition: 0.4s;
    }

/************ show menu ******************/

    .show-menu{
        opacity: 1;
        bottom: 0;
        pointer-events: initial;
    }

/************ show icon ******************/

    .show-icon .btn-burger{
        opacity: 0;
        transform: rotate(90deg);
    }

    .show-icon .btn-close{
        opacity:1;
        transform: rotate(90deg);
    }

/************ hide button toggle ******************/

    .btn__toggle {
    display: block;
    }

/************ row-reverse logo with button ******************/

    .nav__data{
        flex-direction: row-reverse;
        padding-inline: 2rem;
    }

}

@media screen and (min-width: 768px) {

    .nav__link svg {
    display: none;
    }
}

@media (max-width: 375px) {
    .home {
    background-image: none;
    background-color: white; /* Ou outra cor suave */
    }
}







