@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: black;
    --secondary-color: white;
    --letter-color:
}


/********************* Global Styles *************************/

html{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem)
}

footer{
    display: flex;
    justify-content: center;
}

/************************* Navbar *****************************/

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px;
    position: fixed;
    max-width: 1400px;
    width: 100%;
    transition: 0.5s;
}

#navbar ul{
    display: flex;
    gap: 42px;
}

#navbar ul li a{
    text-decoration: none; 
}

#navbar ul li a:link{
    color: black;
}

#navbar ul li a:visited{
    color: rgb(97, 97, 97);
}

#navbar ul li a:hover{
    color: rgba(163, 163, 163, 0.486);
    transition: 0.4s;
}

#navbar header{
    width: 2.6556rem;
    height: 16.581px;
}

/************************* Home *****************************/

#home{
    display: flex;
    height: 100dvh;
    padding: 10rem;
    background-image: url(assets/img/stripes-backgroundsvg.svg);
}

#home .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
}

#home .intro{
    display: flex;
    flex-direction: column;
    width: 52.875rem;
    border-radius: 7px;
    border: 1px solid #000;
    background: #FFF;
    padding-top: 48px;
    text-align: center;
    position: relative;
}

.texto-intro p{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.texto-intro h1{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.48px;
}

.texto-intro b{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.btn{
    padding: 14px 41px;
    border: none;
    border-radius: 3px;
    background: #000;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn{
    color:  #F4F1E7;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}

.button-talk{
    display: flex;
    margin: 32px 28px;
}

.intro img{
    border-radius: 100%;
    width: 10.375rem;
    margin: 32px auto;
}

.layout-union{
    margin: -50px;
}

.layout-union2{
    display: flex;
    justify-content: end;
    margin: -50px;
}


/************************* About *****************************/


#about{
    display: flex;
    height: 100dvh;
    margin: 0 auto;
    max-width: 1400px;
}

#about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
}

#about .about-me{
    border-radius: 7px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    width: 60%;
    padding: 73px 123px 72px 123px;
    justify-content: center;
    margin: 0 auto;
}

#about h2{
    margin: 130px 0 30px 0;
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

#about-carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 20px;
    overflow: hidden;
    scroll-padding: 1rem;
}

#about-carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.content-about{
    display: flex;
    /* border: 1px solid red; */
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.33);
    justify-content: center;
    padding: 36px;
    text-align: start;
    scroll-snap-align: start;
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 26px;
}

.card p{
    margin-top: 26px;
}

.card h3{
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.card ol{
    margin: 10px 0 0 20px;
}


/************************* Skills *****************************/
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
}
#skills .container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.skills h2{
    margin-bottom: 70px;
    color: #000;
    font-size: 32px;
    font-weight: 700; 
}

.skill-details{
    display: flex;
    gap: 52px;
    margin-bottom: 114px;
    text-align: left;
}

.skill-card h3{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 600;
}

#tech-carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 12px);
    gap: 20px;
    overflow: hidden;
}

#tech-carousel.dragging .tech-card{
    cursor: grab;
    user-select: none;
}

.tech-card{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.tech-card p{
    font-size: 22px;
    font-weight: 500;
    margin-left: 28px;
}
/************************* Projects *****************************/
#projects{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
}

#projects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

#projects .section-heading{
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

#projects .item:nth-child(even){
    flex-direction: row-reverse;
}

#projects .item .left{
    flex: 1;
}
#projects .item .right{
    flex: 1;
    margin-left: -150px;
    background-color:white;
    padding: 5rem 2rem; 
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}

#projects .item:nth-child(even) .right{
    margin-left: 0;
}

#projects .item:nth-child(even) .left{
    margin-left: -150px;
}

#projects .item .left .imagem{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(43, 39, 39, 0.2);
}

#projects .item .left .imagem img {
    object-fit: cover;
    transition: 0.3s ease transform;
    height: 100%;
}
#projects .item:hover .left .imagem img {
    transform: scale(1.1);
    z-index: 1;
}

#projects .item .right .project-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#projects .item .right .project-sub-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#projects .item .right .project-desc{
    margin-bottom: 3rem;
}

#projects .item .right .buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

#projects .item .right .buttons .primary-btn{
    display: inline-block;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    box-shadow: 0px 5px 0px  rgba(0, 0, 0, 0.719);
    cursor: pointer;
    color: white;
}

#projects .item .right .buttons .secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 14px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: black;
    gap:1rem;
    padding: calc(0.6em -4px) calc(0.6em -4px);
    z-index: 1;
}


#projects .item .right .buttons .primary-btn:hover{
    transition: 0.2s;
    background-color: #000000e3;
}
#projects .item .right .buttons .primary-btn:active{
    box-shadow: none;
    transform: translateY(5px);     
}

#projects .item .right .buttons .secondary-btn::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: red;
}



#projects .item .right .buttons .secondary-btn svg{
    width: 16px;
}

/************************* Contact *****************************/

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
}

#contact .container{
    display: flex;
    flex-direction: row;
    /* width: max-content; */
    max-width: 1400px;
    margin: 0 auto;
}

#contact .details{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
}

.social-media{
    margin-top: auto;
}

.social-media figure{
    display: flex;
    gap: 20px;
}

#contact .details .social-media p{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-media picture{
    display: flex;
    gap: 20px;
}

#contact .details h2{
    font-size: 4rem;
    font-weight: 700;
    display: inline;
}

#contact .details p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.social-media p{
    font-size: 28px;
    font-weight: 700;
}

#contact .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#contact .form label {
    margin: 26px 0;
}
#contact .form input{
    border: #f7f7f7;
    background-color: #F7F7F7;
    padding: 12px 16px;
    border-radius: 0%;
}

.btn-massage{
    padding: 14px 41px;
    margin-top: 26px;
    border: none;
    border-radius: 3px;
    background: #000;
    box-shadow: 0px 5px 0px  rgba(0, 0, 0, 0.719);
    cursor: pointer;
}

.btn-massage p{
    color:  #F4F1E7;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}
.btn-massage:hover{
    transition: 0.2s;
    background-color: #000000e3;
}

.btn-massage:active{
    box-shadow: none;
    transform: translateY(5px);     
}

#contact .form select{
    color:  #B2B2B2;
    padding: 12px 16px;
    border-radius: 0%;
    background-color: #F7F7F7;
    border: #f7f7f7;
}


